<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zxb"
    android:versionCode="3"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 防止手机休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- 手机访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <!-- 以下是使用wifi访问网络所需要的权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    
    <!-- 允许一个程序安装packages -->
    <!-- <uses-permission android:name="android.permission.INSTALL_PACKAGES" /> -->
    <!-- 关闭整个应用程序，对２.１之前的有效 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 开机自动启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 电话来的时候， 关闭当前的声音。验证 IMEI 地址， 也就是验证你的设备， 确保唯一。手机电话号码的信息 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问有关GSM网络信息 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- 允许挂载和反挂载文件系统可移动存储 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 允许程序修改全局音频设置 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 允许使用PowerManager的 WakeLocks保持进程在休眠时从屏幕消失 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- sd卡获得写的权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" /> <!-- 允许程序修改当前设置 -->
    
   <supports-screens android:anyDensity="true" android:largeScreens="true"
       android:normalScreens="true" android:smallScreens="true" >
   </supports-screens>
    <application
        android:name="com.zxb.client.AppInit"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:debuggable="true">
        
        <!-- 超时退出服务 -->
         <service android:name=".activity.TimeoutService" android:enabled="true" android:exported="true" >
             <intent-filter>
                 <action android:name="com.zxb.timeoutService" />
             </intent-filter>
         </service>
        <activity
            android:name="com.zxb.activity.SplashActivity"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.LoginActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ChooseQPOSModeActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.ChooseQPOSModeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.ModifyLoginPwdActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.ModifyLoginPwdActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.CatalogActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.CatalogActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.SwipCardActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.SwipCardActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.MerchantActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.MerchantActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.ToolsActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.ToolsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.LockScreenActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.LockScreenActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.InputMoneyActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.InputMoneyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.SearchAndSwipeActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.SearchAndSwipeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.SettingActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.SettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.SetPwdActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.SetPwdActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         <activity android:name=".activity.LockScreenSettingActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.LockScreenSettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.ForgetPwdActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.ForgetPwdActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.TransferListActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.TransferListActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.TransferDetailActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.TransferDetailActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.CreditCardActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.CreditCardActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.RateInstructionActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.RateInstructionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         
         <activity android:name=".activity.AboutSystemActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.AboutSystemActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.MyAccountActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.MyAccountActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         <activity android:name=".activity.CardCardActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.CardCardActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         <activity android:name=".activity.HandSignActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.HandSignActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.TradeSuccessActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.TradeSuccessActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity android:name=".activity.PwdInputActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.PwdInputActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         
         <activity android:name=".activity.ConsumeSuccessActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.ConsumeSuccessActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.TradeFaiureActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.TradeFaiureActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.FeedBackActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.FeedBackActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.HelpActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.HelpActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.ShareSettingActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.ShareSettingActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.CalculatorActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.CalculatorActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.PhoneRechargeActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.PhoneRechargeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.MobileChargeActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.MobileChargeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         <activity android:name=".activity.ContactsActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.ContactsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         <activity android:name=".activity.RegisterActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.RegisterActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         <activity android:name=".activity.UploadImagesActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.UploadImagesActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.UpLoadFirstActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.UpLoadFirstActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.UpLoadSecondActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.UpLoadSecondActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity android:name=".activity.BankBranchActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.BankBranchActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".activity.WithdrawalCashActivity"  android:exported="false" 
            android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden|adjustPan">
        	<intent-filter >
                <action android:name="com.zxb.WithdrawalCashActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
         
          <!-- push service client -->
        <receiver android:name="com.zxb.push.PushMessageReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        
        <!-- push service -->
        <receiver android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package" />
            </intent-filter>                   
        </receiver>
        
        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" />
        
        <meta-data android:name="api_key" android:value="s6EgUUOc9KXmqwj19zRGNRDc" />
        <meta-data android:name="BaiduPush_CHANNEL" android:value="ZFB" />
        <!-- push service end -->
        
		<meta-data android:name="BaiduMobAd_STAT_ID" android:value="154f6dcb08" />
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="ZFB" />
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
		<meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
		<meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="false" />
		<meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true" />
		<meta-data android:name="BaiduMobAd_GPS_LOCATION" android:value="true" />
		<meta-data android:name="BaiduMobAd_WIFI_LOCATION" android:value="true" />
		
		
    </application>

</manifest>
